<!doctype html>
<!-- put the app and controller here to make variable defined in main.js accessible from all the document
if you put the controller in a div its variables will be accessible only from there -->
<html lang="en" ng-app="app" ng-controller="controller">

<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>YAK : ItsYourTurn</title>

<!-- stylesheet links -->
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="styles/onsen-css-components-blue-theme.css">
  <link rel="stylesheet" href="styles/prof-profile.css"/>
  <link rel="stylesheet" href="styles/about-styles.css"/>
  <link rel="stylesheet" href="styles/menu.css"/>
  <link rel="stylesheet" href="styles/calendar.css">
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
  <link rel='stylesheet' href='fullcalendar/lib/cupertino/jquery-ui.min.css' />
  <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
  <link rel='stylesheet' href='fullcalendar/fullcalendar.print.css' media='print' />

<!-- libraries links -->
  <script src="lib/onsen/js/angular/angular.min.js"></script>
  <script src="lib/onsen/js/ngStorage.min.js"></script>
  <script src="cordova.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>
  <script src='lib/moment.min.js'></script>
  <script src='lib/jquery.min.js'></script>
  <script src='fullcalendar/fullcalendar.min.js'></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/bootstrap/js/ui-bootstrap-custom-tpls-0.12.1.js"></script>
  <script>
        ons.bootstrap();
  </script>




<!--not used now-->
  <style>

  </style>

</head>


<body >

<!-- Sliding menu -->
  <ons-sliding-menu
    menu-page="menu.html" main-page={{main_page}} side="left"
    var="menu" type="reveal" max-slide-distance="260px" swipeable="true"
    ons-preopen="reload()">

  </ons-sliding-menu>
<!-- Sliding menu -->

<!--Login-->
<ons-template id="login.html">
<ons-page>
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Sign up</div>
      </ons-toolbar>


      <div class="formarea">
        <div class="form-row">
          <input type="text-input" id="first" class="text-input--underbar width-full" placeholder="First Name" value={{nome}} required>
          </div>

        <div class="form-row">
          <input type="text-input" id="last" class="text-input--underbar width-full" placeholder="Last Name" value={{cognome}} required>
        </div>

        <div class="form-row">
          <input type="text-input" id="id" class="text-input--underbar width-full" placeholder="Id " value={{matricola}} required>
        </div>

        <div class="form-row">
          <input type="text-input" id="email" class="text-input--underbar width-full" placeholder="Email" value={{email}} required>
        </div>

        <div class="lucent">
          <p class="note">Fill the gaps above with your information - ID number WITHOUT the initial 's' - An example of a valid email: example@domain.com
          </p>
        </div>

        <div class="form-row">
          <input type="text-input" id="serverUrl" class="text-input--underbar width-full" placeholder="IP:8080" value={{serverUrl}} required>
        </div>
        <div class="vspc form-row">
           <ons-button modifier="large--cta" ng-click="login()" >Sign up</ons-button>
        </div>
      </div>


    </ons-page>
</ons-template>

<!--/Login-->
<!--home-->
<ons-template id="home.html">
      <ons-page modifier="shop-details">
        <ons-toolbar modifier="transparent">
          <div class="right">
            <ons-toolbar-button><ons-icon icon="ion-ios7-chatboxes" style="color: white"></ons-icon></ons-toolbar-button>
          </div>
          <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em; color:white">
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <div class="card">

          <div class="card-name">ItsYourTurn</div>
          <div class="card-desc">Your turn is important.</div>

        </div>


        <ons-list style="border-top: none"><ons-list-item style="line-height: 1; padding: 0;">
          <ons-row class="action">

            <ons-col class="action-col" ng-click="menu.setMainPage('history.html', {closeMenu:true}); ricarica()">
              <div class="action-icon"><ons-icon icon="ion-bookmark"></ons-icon></div>
              <div class="action-label">
                History
              </div>
            </ons-col>

          </ons-row>
        </ons-list-item></ons-list>
<div class="my_class_a_caso">
        <h10>Your information:</h10>
        <br>
        <h11>First name:</h11> {{nome}}
        <br>
        <h11>Last name:</h11> {{cognome}}
        <br>
        <h11>Id:</h11> {{matricola}}
        <br>
        <h11>Email:</h11> {{email}}
</div>
      </ons-page>
    </ons-template>

<!--/home-->
<!--history-->
<ons-template id="history.html">
  <ons-page modifier="shop-details2">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em; color:#0099ff">
        </ons-toolbar-button>
      </div>
      <div class="right">

        <ons-toolbar-button ng-click="menu.setMainPage('home.html', {closeMenu: true})">
          <i class="fa fa-home" style="vertical-align: -4px; font-size: 23px; color:#0099ff"></i>
        </ons-toolbar-button>
      </div>

    </ons-toolbar>


<!--    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()">
          <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em">
        </ons-toolbar-button>
      </div>
      <div class="center">ItsYourTurn</div>
      <div class="right">

        <ons-toolbar-button ng-click="menu.setMainPage('home.html', {closeMenu: true})">
          <i class="fa fa-home" style="vertical-align: -4px; font-size: 23px;"></i>
        </ons-toolbar-button>
      </div>

    </ons-toolbar>
  -->
    <div class="card2">

    <h2 style="color:#006699">Your history</h2>
    <br>
    <br>
    <br>
            <ons-list class="timeline" modifier="inset">
              <ons-list-item class="timeline-li" modifier="tappable" ng-repeat="i in storico">
                <ons-row>
                  <ons-col width="50px">
                    <img ng-src="{{proffessori.ind_foto}}" class="timeline-image">
                  </ons-col>

                  <ons-col>
                    <div class="timeline-date">
                      <ons-button style="float: right" ng-click="menu.setMainPage('about.html', {closeMenu:true})">Remove</ons-button>
                    </div>
                    <div class="timline-from">
                      <span class="timeline-name">{{profs[i.id].nome}} {{profs[i.id].cognome}}</span>
                      <span class="timeline-id">Meeting at {{i.giorno}} from {{i.oraI}} to {{i.oraF}}</span>
                    </div>
                    <div class="timeline-message">
                      Your message: '{{i.messaggio}}'
                    </div>
                  </ons-col>

                </ons-row>
              </ons-list-item>
            </ons-list>
    <ons-row style="margin-top: 100px; text-align: center;">


    </ons-row>
  </div>

  </ons-page>
</ons-template>

<!--history-->

<!--Home
  <ons-template id="home2.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em">
          </ons-toolbar-button>
        </div>
        <div class="center">ItsYourTurn</div>
      </ons-toolbar>
      <div class="background-home">

      <h2>Welcome, {{nome}}</h2>
      <br>
      Your Email: {{email}}


      <br>
      <br>
      <ons-col align="center">
        Your recent actions
      </ons-col>
              <ons-list class="timeline" modifier="inset">
                <ons-list-item class="timeline-li" modifier="tappable" ng-repeat="i in vediamo">
                  <ons-row>
                    <ons-col width="50px">
                      <img ng-src="images/Fulvio-Corno.jpg" class="timeline-image">
                    </ons-col>

                    <ons-col>
                      <div class="timeline-date">
                        <ons-button style="float: right" ng-click="menu.setMainPage('about.html', {closeMenu:true})">Prova</ons-button>
                      </div>
                      <div class="timline-from">
                        <span class="timeline-name">Dave Graham</span>
                        <span class="timeline-id">@daveg ciao sono {{i.nome}}</span>
                        La mia matricola è {{i.matricola}}
                      </div>

                      <div class="timeline-message">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      </div>
                    </ons-col>

                  </ons-row>
                </ons-list-item>
              </ons-list>


      <ons-row style="margin-top: 100px; text-align: center;">


      </ons-row>
      <ons-row>
      <ons-button ng-click="checkTheConnection()">Prova</ons-button>
      </ons-row>
    </div>

    </ons-page>
  </ons-template>
-->

<!--Professors-->
<!--TODO:
- Controllo connessione
- Ricaricamento automatico pagina
- Ordinamento per cognome dei professori
-->
  <ons-template id="menu.html" onload="reload()">

    <ons-page modifier="menu-page">
      <ons-toolbar modifier="transparent"></ons-toolbar>

      <img src="images/polito.png" ng-click="menu.setMainPage('home.html', {closeMenu: true})" >

      <p align="center">
        <h4 align="center">Professors
        <ons-button modifier="outline" ng-click="reload()">
          <ons-icon icon="ion-ios-refresh" style="color:dodgerblue;"></ons-icon>
        </ons-button></h4>
      </p>


      <!-- For every Prof -->
      <ons-list class="menu-list"  ng-repeat="post in profs">
        <ons-list-item class="menu-item"  ng-click="openProfile(post.id)" onmouseover="style.color='grey'"
        onmouseout="style.color='white'" > <!-- when you click on the name you pass the professor id to the function openProfile described in main.js -->
          <ons-icon icon="ion-person" style="color:{{post.stato}};" fixed-width="true" ></ons-icon>
          {{post.nome +" "+post.cognome}}
        </ons-list-item>
      </ons-list>


      </div>
      <!---->
      <br>

      <ons-list class="bottom-menu-list">

      <ons-list-item class="bottom-menu-item" ng-click=" menu.setMainPage('login.html', {closeMenu: true})">
        Change Login

      </ons-list-item>

      <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('about.html', {closeMenu: true})">
        About Us

      </ons-list-item>


      </ons-list>

    </ons-page>
  </ons-template>
<!--/Professors-->

<!--Prof profile-->
<ons-template id="prof-profile.html"  >
<!-- id of the template to call this page -->
    <ons-page ng-click="reload2(profProfile.id)">

      <ons-toolbar >				<!-- upper toolbar -->

        <div class="left">				<!-- menu button, it open the left list -->
          <ons-toolbar-button ng-click="menu.toggle()">
        	<ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em">
          </ons-toolbar-button>
        </div>


        <div class="center">{{profProfile.nome+profProfile.cognome}}</div>				<!-- it shows the prof name -->

        <div class="right">				<!-- home button -->
          <ons-toolbar-button ng-click="menu.setMainPage('home.html', {closeMenu: true})">
            <i class="fa fa-home" style="vertical-align: -4px; font-size: 23px;"></i>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <div class="profile-card">				<!-- this is the black box where the prof info are shown -->
        <ons-row>								<!-- for the style of these classes see prof-profile.css -->
    	<ons-col align="center" width="33%"><img src={{profProfile.ind_foto}} class="profile-image" ></ons-col>	<!-- we need so replace it with the address of the image -->
        <ons-col align="left">
        <ons-row><div class="profile-name">{{profProfile.nome+" "+profProfile.cognome}}</div></ons-row>		<!-- all the information are called from the profProfile object -->
        <ons-row><div class="profile-email"><a href="mailto:{{profProfile.email}}" style="color: white;"> {{profProfile.email}}</a>  </div></ons-row>
        <ons-row><div class="profile-department">{{profProfile.dipart+" stanza: "+profProfile.nStanza}}</div></ons-row>
        <ons-row><div class="profile-tel">Tel: {{profProfile.tel}}</div></ons-row>
        </ons-col>
        </ons-row>

        <ons-row>
        <ons-col>
        <div class="profile-status"><ons-icon icon="ion-record" class="profile-status">	<!-- show the status of the professor -->
        {{profStatus}}

        </div>

        </ons-col>
        <ons-col align="center"  ><button class="button button--cta" style="margin: 40px 20px 20px 50px;" ng-click="bookN()">Book Now!</button></ons-col>		<!-- allow booking, need to redirect to booking page -->
        </ons-row>
      </div>


      <ons-list>
        <ons-list-item>
          <ons-row>
            <ons-col class="info-col">
              <div class="info-num">87</div>
              <div class="info-unit">Actual Queue</div>
            </ons-col>
            <ons-col class="info-col">
              <div class="info-num">40</div>
              <div class="info-unit">Total Bookings</div>
            </ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>

      <ons-list modifier="inset" style="margin-top: 10px">
	  <ons-list-item modifier="chevron" ng-click="isCalendarCollapsed = !isCalendarCollapsed;" >
          Show Calendar
        </ons-list-item>
			<div collapse="isCalendarCollapsed">
				<hr/>
				<div style="text-align:center;" class="center">
				<button class="button button--cta" ng-click="show('booking-dialog.html')" modifier="tappable">Click to book a date!</button>
				</div>
				<hr/>
				<div id='calendar'>{{ openCalendar()}}</div>
			</div>

        <ons-list-item modifier="chevron">
          See details
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="isCollapsed = !isCollapsed">
          Save to the list
        </ons-list-item>
      </ons-list>

      <br>
    </ons-page>
  </ons-template>
<!--/Prof profile-->


<!--BookNow comment page-->
<ons-template id="booknow.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Book Now with {{" "+profProfile.nome+" "+profProfile.cognome}}</div>

        <div class="right">
          <ons-toolbar-button ng-click="menu.setMainPage('home.html', {closeMenu: true})">
            <ons-icon icon="ion-home" style="vertical-align: -4px; font-size: 23px;"></ons-icon>
          </ons-toolbar-button>
        </div>
        </ons-toolbar>

      <div style="text-align: center">

        <section style="padding: 8px">
            <p>{{matricola+" "+nome+" "+cognome}}</p>
        </section>

        <section style="padding: 0 8px 8px">
          <textarea id="messaggio" class="textarea" ng-model="text2" placeholder="Type here your message" style="width: 70%; height: 100px;"></textarea>
        </section>


            <section style="padding: 0 8px 8px">
              <ons-button  modifier="medium" ng-click="book(profProfile.id)" style="width: 50%;">Confirm!</ons-button>
            </section>

      </div>
    </ons-page>
</ons-template>
<!--//BookNow comment page-->


<!-- boking dialog-->
<ons-template id="booking-dialog.html" >
   <ons-dialog style="min-height: 520px;min-width: 340px;" var="bookingDialog" cancelable>

      <ons-toolbar inline>
        <div class="center">
          Booking
        </div>
      </ons-toolbar>


	<div class="booking-pickers" ng-controller="bookingDialogCtrl">
		<ons-row tyle="text-align:center;"><h6>You are booking for:</h6></ons-row>
		<hr/>
		<ons-row>Professor:  {{profProfile.nome+" "+profProfile.cognome}}</ons-row>
		<hr/>
		<ons-row>Date:</ons-row>
    	<ons-row>
			<ons-col>
				<input type="text" class="form-control"  datepicker-popup="{{format}}" ng-model="day" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			</ons-col>
            <ons-col>
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</ons-col>
		</ons-row>
		<hr/>
		<ons-row>Time from:</ons-row>
		<ons-row>
			<timepicker ng-model="startTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
		</ons-row>
		<ons-row>To:</ons-row>
		<ons-row>
			<timepicker ng-model="endTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
		</ons-row>
		<hr/>
		<ons-row>
			Insert a comment if you like:
        	<input placeholder="Comment"  class="text-input"  id="comm">
			<hr/>
		</ons-row>

		<div class="booking-footer">
			<ons-row >
				<ons-col width="40%" >
					<ons-button  style="background-color: red;" modifier="large" ng-click="bookingDialog.hide()">Close</ons-button>
				</ons-col>
				<ons-col >
					<ons-button modifier="large" ng-click="bookStudentsEvents(profProfile.id)">Book</ons-button>
				</ons-col>
			</ons-row>
		</div>
	</div>


  </ons-dialog>
</ons-template>
<!-- /boking dialog-->


<!--About-->
  <ons-template id="about.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em">
          </ons-toolbar-button>
        </div>
        <div class="right">				<!-- home button -->
          <ons-toolbar-button ng-click="menu.setMainPage('home.html', {closeMenu: true})">
            <i class="fa fa-home" style="vertical-align: -4px; font-size: 23px;"></i>
          </ons-toolbar-button>
        </div>

      </ons-toolbar>
      <div class="background">

      <ons-row style="margin-top: 100px; text-align: center;">
          <ons-col>
          <h2><span class="highlight">A Short</span> Introduction</h2>
		  	  <h3><i>ItsYourTurn</i></h3>
			    <div class="underline">
            <img src="images/yak2.png" class="logo-image" >
			    </div>

			    <p></p>
          <div class="my-text-style">
          The YAK team is pleased to present the project ItsYourTurn.
			    <BR>It's developed as part of the course Ambient Intelligence in 2015 , at the Politecnico di Torino.</p>

	      	<p>ItsYourTurn is a system that will help students and Professors to get in touch more easily and efficiently.
			       It understands, in real time, whether the professor is in his office or not and if he is available according to his agenda and his commitments, showing it to students.<BR>
			       The Professor also have the means to change his state (free, occupied, only emergency), or even to switch off the system.
			       ItsYourTurn manages a queue, allows for booking and learns from the past giving information about the probability of
			       finding the Professor in his office in the future.</p>

           </div>
         </ons-col>
       </ons-row>


          <ons-list>

            <ons-list-item modifier="chevron" class="list-item-container">
              <ons-row>
                <ons-col width="95px">
                  <img src="images/andrea_pic.jpg" class="thumbnail">
                </ons-col>
                <ons-col>
                  <div class="name">
                    Andrea Andreoli
                  </div>
                  <div class="location">
                    Automotive Engeneering
                  </div>
                  <div class="desc">
                    Access the inaccessible!
                  </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
              </ons-row>
            </ons-list-item>

            <ons-list-item modifier="chevron" class="list-item-container">
              <ons-row>
                <ons-col width="95px">
                  <img src="images/samu.png" class="thumbnail">
                </ons-col>
                <ons-col>
                  <div class="name">
                    Samuele Aicardi
                  </div>
                  <div class="location">
                    Computer Engeneering
                  </div>
                  <div class="desc">
                    Ligure DOC
                  </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
              </ons-row>
            </ons-list-item>

            <ons-list-item modifier="chevron" class="list-item-container">
              <ons-row>
                <ons-col width="95px">
                  <img src="images/IMG11.jpg" class="thumbnail">
                </ons-col>
                <ons-col>
                  <div class="name">
                    Simone Regis
                  </div>
                  <div class="location">
                    Computer Engeneering
                  </div>
                  <div class="desc">
                    Al mondo ci sono solo 10 tipi di persone: chi comprende il sistema binario e chi no.
                  </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
              </ons-row>
            </ons-list-item>

            <ons-list-item modifier="chevron" class="list-item-container">
              <ons-row>
                <ons-col width="95px">
                  <img src="images/8.jpg" class="thumbnail">
                </ons-col>
                <ons-col>
                  <div class="name">
                    Antonio Risoli
                  </div>
                  <div class="location">
                    Computer Engeneering
                  </div>
                  <div class="desc">
                    Linux (Ubuntu) dipendente:<BR> no virus = no guai !
                  </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
              </ons-row>
            </ons-list-item>
          </ons-list>
        </div>
        </ons-page>
      </ons-template>
<!--/about-->

<!--  INUTILIZZATO
  <ons-template id="professors.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em">
          </ons-toolbar-button>
        </div>
        <div class="center">Professors</div>
      </ons-toolbar>

    <ons-list>
     <ons-list-item modifier="tappable" ng-click="menu.setMainPage('prof-profile.html', {closeMenu: true})">Tap Me</ons-list-item>
     <ons-list-item modifier="tappable">Tap Me</ons-list-item>
     <ons-list-item modifier="tappable">Tap Me</ons-list-item>
     <ons-list-item modifier="tappable">Tap Me</ons-list-item>
     <ons-list-item modifier="tappable">Tap Me</ons-list-item>
     <ons-list-item modifier="tappable">Tap Me</ons-list-item>
   </ons-list>



    </ons-page>
  </ons-template>
-->

  <!-- this is the main script where all function and variables are defined
  it manages the comunication with the server-->
  <script src="main.js"></script>

</body>
</html>
